<nav
    class="fixed top-4 left-1/2 transform -translate-x-1/2 w-[95%] max-w-7xl bg-gradient-to-r bg-black text-white shadow-lg rounded-full z-50 backdrop-blur bg-opacity-90">
    <div class="container mx-auto flex justify-between items-center h-14 px-4">
        <a href="/" class="text-xl font-bold px-5">Dompet Dims</a>

        <div class="hidden md:flex space-x-4 px-10">
            <a href="/login" class="px-6 py-2 bg-blue-600 text-white hover:bg-blue-700 rounded-lg">Login</a>
            <a href="/register" class="px-4 py-2 bg-blue-600 text-white hover:bg-blue-700  rounded-lg">Register</a>
        </div>

    </div>
</nav>
