<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <center>

        <h1>HELLO DASHBOARD!</h1>

        <div>
            <a href="/logout"><button>Log out</button></a>
        </div>
    </center>


</body>

</html>