<!DOCTYPE html>
<html lang="en">

<%- include ('partials/_head', {title: 'Home' }) %>

    <body>

        <%- include('partials/_navbar') %>

            <%- include('partials/_landingPage') %>

    </body>

</html>