<!DOCTYPE html>
<html lang="en">

<%- include ('partials/_head', {title: 'Home' }) %>

    <body>

        <%- include('partials/_navbar') %>
        
            <section>
                <%- include('partials/_landingPage') %>
            </section>

            <%- include('partials/_footer') %>

    </body>

</html>