<!DOCTYPE html>
<html lang="en">

<%- include ('partials/_head', {title: 'Login' }) %>

    <body>

        <%- include("partials/_navbar") %>

            <section
                class="min-h-screen bg-gradient-to-br from-blue-50 via-amber-50 to-blue-100 flex items-center justify-center px-4">
                <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md">
                    <h1 class="section-title">Login to your account</h1>

                    <% if (errors && errors.length) { %>
                        <div class="text-red-600 mb-3">
                            <%= errors[0] %>
                        </div>
                        <% } %>

                            <form action="/login" method="POST" class="space-y-4">
                                <div>
                                    <label class="form-label">Email</label>
                                    <input type="email" name="email" class="form-input">

                                </div>

                                <div>
                                    <label class="form-label">Password</label>
                                    <input type="password" name="password" class="form-input">

                                </div>

                                <div class="text-right text-sm">
                                    <a href="/forgot-password" class="text-blue-600 hover:underline">Forgot
                                        password?</a>
                                </div>

                                <button type="submit"
                                    class="flex items-center justify-center border border-gray-300 py-2 px-4 rounded text-sm bg-blue-600 text-white font-bold hover:bg-blue-700 transition w-full">Login</button>

                                <div class="text-center my-4 text-gray-500 text-sm">OR</div>

                                <a href="/auth/google" class="btn-google">
                                    <img src="https://www.svgrepo.com/show/475656/google-color.svg" class="w-5 h-5 mr-2"
                                        alt="Google">
                                    Login with Google
                                </a>

                            </form>
                </div>
            </section>

    </body>

</html>